@{
	ViewBag.Title = "Coffee, Coffee, Coffee!!!";
}

<div class="center">
	
	<h2>@ViewBag.Title</h2>
	<h3>@ViewBag.Message</h3>
	<style>
		.center {
			text-align: center;
			border: 6px solid blueviolet;
		}
	</style>
	 
	<p>At Stephi B's Haus of Coffee we love all coffee. Stephi B's favorite is a well prepared mocha cappuccino.</p>
	
</div>
<style>
	img {
		display: block;
		margin: 0 auto;
	}
</style>
<img src="~/Content/multicoffee.jpg" style="width:400px;height:288px;">


