@{
    ViewBag.Title = "Home Page";
}
<head>
	<link rel="stylesheet" type="text/css" href="~/Content/HomeStyle.css">
</head>
<div class="jumbotron">
    <h1>Stephi B's Coffee Haus</h1>
    <p class="lead">Welcome! </p>
    <p><a href="~/Home/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
	<img src="~/Content/atlas.jpg" alt="World of Coffee" style="width:400px;height:228px;">
	
	
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Coffee Life
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Holy Beans Batman!</h2>
        <p>Our coffee conoisseur's scout the best beans for our customers. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get More Coffee in Your Life!</h2>
        <p>Click here to buy some of Stephi B's favorite coffees from around the world. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>