
@{
    ViewBag.Title = "You have successfully registered";
}

@*<h2>You have successfully registered!</h2>*@



<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>@ViewBag.Email</h3>
<h3>Please check out our extensive coffee selection for purchase. </h3>